@page "/BasketView"
@inject BasketService BasketService

@* UI Section *@
<h1>Shopping Cart</h1>

<ShoppingBasketList Items="BasketService.SelectedItems"></ShoppingBasketList>

@* Code Section *@
@code 
{
    private int itemCount = 0;
}