@page "/BasketView"

@* UI Section *@
@inject BasketService BasketService

<h1>Shopping Basket</h1>
<h3>You have @BasketService.SelectedItems.Count items in your Basket</h3>

<ShoppingBasketList Items="BasketService.SelectedItems"></ShoppingBasketList>

@* Code Section *@
@code 
{

}